{% for product in product_list %}
    <div class="col-md-3 d-flex">
        <div class="card text-white text-center bg-transparent" id="card" style="margin-bottom: 25px; width:300px; height: 350px">
        {% for image in product.images.all %}
            {% if image.default == True %}
                <a href="{% url 'menu:detail' pk=product.id %}">
                    <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                </a>
            {% endif %}
        {% endfor %}
          <div class="card-body">
            <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
          </div>
        </div>
    </div>
{% endfor %}