{% for restaurant in restaurant_list %}
    <div class="col-md-3 d-flex">
        <div class="card text-white text-center bg-transparent" id="card" style="margin-bottom: 25px; width:400px; height: 450px">
        {%  if restaurant.image %}
{#        {% thumbnail course.image "350x210" crop="center" as im %}#}
          <img src="{{ restaurant.image.url }}" class="card-img-top" alt="..." >
{#        {% endthumbnail %}#}
        {% endif %}
          <div class="card-body">
            <h5 class="card-title font-weight-bold">{{ restaurant.name }}</h5>
              {%  for tag in restaurant.tags.all %}
                <button type="button" class="card-btn btn-sm" style="margin-bottom:20px" disabled>{{ tag.name }}</button>
              {% endfor %}
                <br>
                <a href="{% url 'menu:review' %}?id={{ restaurant.id }}" class="action-btn" style="margin-top:20px">Open menu</a>
          </div>
        </div>
    </div>
{% endfor %}