{% extends 'base.html' %}
{%  load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock css %}

{% block title %}
    <title>Cart Details</title>
{% endblock title %}

{%  block content %}
    <h3 style="text-align: center; margin-top: 20px">Make an Order</h3>
    <div class="container" style="min-height: 300px; position: relative">
        <br>
        <div class="row">
            <div class="container" style="margin-bottom: 20px">
                <br>
                {% for item in cartitem_list %}
                        <div class="row product justify-content-center align-self-start {{ item.product.section }}">
                            <div class="col-md-2" style="margin-bottom: 20px; min-height: 200px; min-width: 200px">
                                {% for image in item.product.images.all %}
                                    {% if image.default == True %}
                                        <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-md-3" style="margin-bottom: 20px; min-height: 200px;">
                                <h3 style="margin-top: 50px; font-weight: bold">{{ item.product.name }}</h3>
                                <h5 >Item price: {{ item.product.price }} $</h5>
                            </div>
                            <div class="col-md-2" id="price" style="margin-bottom:20px; min-height: 200px; min-width: 200px; text-align: left">
                                <div class="row">
                                    <h5 style="margin-top: 55px">Quantity:</h5>
                                    <h5 style="margin-top: 55px; margin-left: 20px">{{ item.quantity }} pcs</h5>
                                </div>
                                <div class="row">
                                    <h5>Amount:</h5>
                                    <h5 style="margin-left: 25px">{{ item.price}} $</h5>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                {% if cartitem_list %}
                <div class="row justify-content-end" style="margin-right: 250px">
                    <h5>Total amount: </h5>
                    {% for item in cart_details %}
                        <h5 style="margin-left: 20px">{{ item.total }} $</h5>
                    {% endfor %}
                </div>
                <div class="row justify-content-end" style="margin-right: 250px">
                    <a class="action-btn addOrder" style="width: 200px" href="{% url 'payment:create-checkout-session' %}">Make an Order</a>
                </div>
                {% else %}
                    <h4 style="text-align: center; margin-top: 150px; min-height: 500px">No items in Cart now. Please, choose something delicious :)</h4>
                {% endif %}
            </div>
        </div>
    </div>
{%  endblock content %}




