/* Entrega custom styles */


/* Navbar style */

#logo {
  margin-left: 40px;
  margin-top: -5px;
  margin-bottom: -6px;
}
#logo:hover {
  border-bottom: 2px solid transparent;
}
#navbarNavDropdown {
  margin-right: 40px;
}
.my_nav a {
  margin-left: 30px;
  border-bottom: 2px solid transparent;
}
.my_nav a:hover {
  border-bottom: 2px solid #FF7336;
}
.active a {
  border-bottom: 2px solid #FF7336;
}
.mrt a {
  background: #FF7336;
  color: #F8F9FA !important;
  border-radius: 30px;
  padding: 10px 25px !important;
  box-shadow: 3px 3px 5px #777;
  width: 100px;
  text-align: center;
}
.mrt a:hover {
  background: #F9969E;
  box-shadow: none;
}
.mrt2 a {
  background: #F9969E;
  color: #F8F9FA !important;
  border-radius: 30px;
  padding: 10px 25px !important;
  box-shadow: 3px 3px 5px #777;
  width: 100px;
  text-align: center;
}
.mrt2 a:hover {
  background: #FF7336;
  box-shadow: none;
}
