{% load study_group_tags %}

<html>
    <head>
        <title>Welcome to the University base!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        {% block css %}{% endblock css %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/media/university_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            University
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">Link</a>#}
{#              </li>#}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  Faculties
                </a>
                <div class="dropdown-menu">
                    {% for faculty in faculties %}
                      <a class="dropdown-item" href="{% url 'faculty' %}?id={{ faculty.id }}">{{ faculty.name }}  <span class="badge badge badge-secondary">{{ faculty.course_count }}</span></a>

                    {% endfor %}
{#                  <div class="dropdown-divider"></div>#}
{#                  <a class="dropdown-item" href="#">Something else here</a>#}
                </div>
              </li>
              <li class="nav-item">
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'review:review' %}">Students</a>#}
{#              </li>#}
{#              {% if user.is_authenticated %}#}
{#                    <a class="nav-link" href="{% url 'course:create' %}">Create course</a>#}
{#                  </li>#}
{#                  <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'student:create' %}">Create student</a>#}
{#                  </li>#}
{#                  <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'auction' %}">Auction</a>#}
{#                  </li>#}
{#              {% endif %}#}
            </ul>
            <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {%  if user.is_authenticated %}
                <a class="btn btn-outline-success" href="{% url 'logout' %}" style="margin-left: 10px">Logout</a>
                <a class="btn btn-success" href="{% url 'profile' %}" style="margin-left: 10px">Profile</a>
            {%  else %}
                <a class="btn btn-success" href="{% url 'login' %}" style="margin-left: 10px">Login</a>
                <a class="btn btn-success" href="{% url 'registration' %}" style="margin-left: 10px">Registration</a>
            {% endif %}
          </div>
        </nav>

        <div class="container">
            <br>
            {% block content %}{% endblock content %}
        </div>


{#        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        {% block js %}{% endblock js %}
    </body>
</html>