{% extends 'base.html' %}
{% load bootstrap4 %}
{%  load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock css %}

{%  block content %}
    <section>
    <br>
    <h1 style="text-align: center">MENU</h1>
    <nav class="navbar navbar-expand-lg navbar-light new_nav">
        <div class="collapse navbar-collapse ml-5 justify-content-center">
            <ul class="navbar-nav">
               <li data-f="all">All</li>
               <li data-f="main-courses">Main Courses</li>
               <li data-f="drinks">Drinks</li>
               <li data-f="sauces">Sauces</li>
            </ul>
        </div>
    </nav>
    </section>

    <section id="product list" >
        {% include 'includes/product_list.html' %}
    </section>

{%  endblock content %}

{% block js %}
    <script src="{% static 'js/filter.js' %}"></script>
{% endblock js %}