<html>
    <head>
        <title>Entrega</title>
    </head>
    <body>
        <table class="table">
        <tr>
            <td>Login</td>
            <td>{{ object.username }}</td>
{#            <td>{{ user.username }}</td>#}
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ object.email }}</td>
{#            <td>{{ user.email }}</td>#}
        </tr>
        <tr>
            <td>Phone</td>
{#            <td>{{ user.profile.phone }}</td>#}
         </tr>
         <tr>
            <td>Address</td>
{#            <td>{{ user.profile.address }}</td>#}
        </tr>
    </table>
    </body>
</html>

